.main {
  font-family: "Comic Mono", sans-serif;
  background-image: url("/images/background.png");
  color: #ffffff;
  height: 100%;
  background-size: cover;
}

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Comic Mono", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .icon {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  box-sizing: border-box;
}

.main h3 {
  display: flex;
  align-items: center;
  font-family: "Gothic", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #09343d;
}
@media screen and (max-width: 768px) {
  .main h3 {
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) {
  .main h3 {
    font-size: 24px;
  }
}
.main form {
  display: flex;
  gap: 10px;
}

.main input[type="text"] {
  padding: 12px 16px;
  border: 2px solid #09343d;
  border-radius: 4px;
  margin-bottom: 12px;
  background: #242424;
  color: #ffffff;
  width: calc(
    100% - 120px
  ); /* Reduce width to make room for the submit button */
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

.main input[type="submit"] {
  padding: 12px 0;
  color: white;
  background-color: #09343d; /* Updated color */
  border: 2px solid #09343d; /* Updated color */
  border-radius: 1px;
  text-align: center;
  cursor: pointer;
  width: 100px; /* Set a specific width for the submit button */
  height: 48px; /* Set a specific height for the submit button, matching the input field */
  margin-left: 10px;
  box-sizing: border-box; /* This ensures that padding and border are included in the element's total width and height */
}

.main .result {
  font-weight: bold;
  margin-top: 40px;
}

.main .chat {
  max-width: 600px;
}

.main .chatDisplay {
  background: #242424;
  font-size: 18px;
  text-align: left;
  height: 400px;
  border-radius: 4px;
  border: 2px solid #09343d;
  margin-bottom: 12px;
  padding: 12px 0px;
  overflow-y: auto;
}

.message {
  display: flex;
  margin: 4px 0px;
}

.messageName {
  display: inline;
  font-weight: bold;
  padding-left: 10px;
  color: #cae2e7;
}

.messageContent {
  display: inline;
  margin-left: 10px;
  color: #ffffff;
}

.footer,
.footer a,
.footer a:visited {
  padding-top: 10px;
  color: #09343d;
  font-family: "Helvetica", sans-serif; /* 폰트 스타일 변경 */
  text-transform: uppercase; /* 모든 텍스트를 대문자로 변경 */
  letter-spacing: 2px; /* 글자 사이의 간격을 조절 */
  font-weight: bold; /* 텍스트를 더 두껍게 */
  background-color: #ffffff; /* 배경색 변경 */
  padding: 15px; /* 패딩 크기 조정 */
  border-radius: 5px; /* 둥근 테두리 적용 */
  transition: all 0.3s ease-in-out; /* 전환 효과 적용 */
}
ㅇ .footer a:hover {
  color: #ff4747; /* 마우스 오버 시 색상 변경 */
  transform: scale(1.1); /* 마우스 오버 시 확대 효과 적용 */
}
